{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for post in pagination %}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="post.html"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    {% for cat in post.category.all %}
                    <div class="category"><a href="#">{{ cat }}</a></div>
                    {% endfor %}
                  </div><a href="post.html">
                    <h3 class="h4">{{ post.title }}</h3></a>
                  <p class="text-muted">{{ post.post_description }}</p>
                  <footer class="post-footer d-flex align-items-center">
                    <div class="date"><i class="icon-clock"></i>{{ post.date_created | timesince }} ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </footer>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if pagination.has_previous %}
                <li class="page-item"><a href="?{{ page_var }}= {{ pagination.previous_page_number }}" class="page-link"><i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="#" class="page-link active">{{ pagination.number }}</a></li>
                {% if pagination.has_next %}
                <li class="page-item"><a href="?{{ page_var }}= {{ pagination.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{% url 'main:search_results' %}" class="search-form">
              <div class="form-group">
                <input type="text" name="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts">
                {% for posts in latest %}
                <a href="#">
                    <div class="item d-flex align-items-center">
                      <div class="image"><img src="{{ posts.thumbnail.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><strong>{{ posts.title }}</strong>
                        <div class="d-flex align-items-center">
                          <div class="views"><i class="icon-eye"></i> {{ posts.view_count }}</div>
                          <div class="comments"><i class="icon-comment"></i>{{ posts.comment_count }}</div>
                        </div>
                      </div>
                    </div>
                </a>
                {% endfor %}
            </div>
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat in category_count %}
            <div class="item d-flex justify-content-between"><a href="#">{{ cat.category__title }}</a><span>{{ cat.category__count }}</span></div>
            {% endfor %}
          </div>
        </aside>
      </div>
    </div>
{% endblock content %}